# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable deprecation-cop': 'deprecation-cop:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'deprecation-cop'
      'submenu': [
        { 'label': 'Toggle', 'command': 'deprecation-cop:toggle' }
      ]
    ]
  }
]
