// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.deprecation-cop {
  overflow: auto;
  -webkit-flex: 1;
  background-color: @app-background-color !important;

  .deprecation-info {
    padding: 0 @component-padding;
  }

  .deprecation-info:hover {
    background-color: @background-color-selected !important;
  }

  .collapsed > ul {
    display: none;
  }

  .list {
    list-style-type: none;
    padding: 0;
  }

  .stack-trace {
    background-color: @tool-panel-background-color;
    padding: @component-padding;
    margin-bottom: @component-padding;
  }

  a {
    color: @text-color-highlight;
  }
}
